<div class="card-reviewer-name">
  <p><Strong>Lorena Abena</Strong></p>
  <p>20/12/2010</p>
  <div class="card-reviewer-info">
    <p><%= comment.body %></p>
    <p><%= time_ago_in_words(comment.created_at) %> Ago</p>
  </div>
</div>

