</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'Behance5.jpg'%>);">
  <div class="container">
    <h1>Find a Tailor | <strong> Based on Reviews</strong>!</h1>
     <p> No more disappointments, pick a tailor you can trust 😉</p>
    <%= link_to 'Get Started', tailors_path, class: 'btn btn-success'  %>
  </div>
</div>


