.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 8px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-tailor_contact_card {
  margin: 8px;
  border: 1px white solid;
  background: white;
  border-radius: 8px;
  height: 100%vh;
  text-align: center;
}

.card-tailor_info a {
    width: 90%;
    border-radius: 32px;
    margin-bottom: 16px;
    text-align: center;
}

.card-reviewer {
  background: #F2F6F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 90px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 8px;
  margin-left: 0;
  display: flex;
  align-items: center;

}

.card-reviewer img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 8px;
}

.rating_category {
    display: flex;
    justify-content: space-between;
    margin-top: 8p;
    margin-top: 8px;
    align-content: center;
    background: ghostwhite;
    padding: 16px;
    align-items: center;
    border-radius: 16px;
    align-items: center;
    align-content: center;
}
